.inputPlus {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 80px;
  margin-bottom: 15px;


  &Value {
  border: 1px solid #cfcfcf;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;  
  padding: 10px;
  font: 1rem/1.4em 'Inter', sans-serif;
  background: #f3f3f3;
  &::placeholder {
    color: #a5a5a5;
  }
  }

  &Button {
    border-radius: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background: #ff7b7b url('./images/add.svg') no-repeat center center;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}